---
Checks:          '
    *,
    -google*,
    -*UnreachableCode,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -readability-braces-around-statements,
    -readability-redundant-string-init,
    -readability-else-after-return,
    -modernize-raw-string-literal,
    -clang-analyzer-alpha.cplusplus.VirtualCall,
    -readability-simplify-boolean-expri,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -clang-analyzer-alpha.core.CastToStruct'
...