<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="manager" default="ladybug_nodelet_manager" />
  <arg name="cam_id" default="3" />

  <!-- i.e., "/rectified" -->
  <arg name="camera_ns_postfix" default="/rectified" />

  <!-- Topic input -->
  <arg name="topic_in" default="image_color"/>

  <!-- Gets appended to node name after ladybug_camID -->
  <arg name="node_name_postfix" default="_cropper"/>

  <!-- Don't change this -->
  <arg name="camera_ns" default="$(eval str('ladybug/camera') + str(arg('cam_id')) + arg('camera_ns_postfix'))"/>

  <arg name="decimation_x" default="1" />
  <arg name="decimation_y" default="1" />
  <arg name="x_offset" default="580" />
  <arg name="y_offset" default="580" />
  <arg name="width" default="970" />
  <arg name="height" default="1380" />


  <!-- Cropping nodelet -->
  <node pkg="nodelet" type="nodelet" name="ladybug_cam$(arg cam_id)$(arg node_name_postfix)"
        args="load image_proc/crop_decimate $(arg manager)"
        output="screen">
          <remap from="camera/image_raw" to="$(arg camera_ns)/$(arg topic_in)" />
          <remap from="camera/camera_info" to="$(arg camera_ns)/camera_info" />
          <remap from="camera_out/image_raw" to="$(arg camera_ns)/cropped/$(arg topic_in)"/>
          <remap from="camera_out/camera_info" to="$(arg camera_ns)/cropped/camera_info"/>
  </node>


  <!-- Dynamic reconfigure -->
  <node pkg="dynamic_reconfigure" type="dynparam" name="ladybug_cam$(arg cam_id)$(arg node_name_postfix)_reconfigure"
        args="set ladybug_cam$(arg cam_id)$(arg node_name_postfix) &quot;{'x_offset':'$(arg x_offset)', 'y_offset':'$(arg y_offset)', 'width':'$(arg width)', 'height':'$(arg height)', 'decimation_x':'$(arg decimation_x)', 'decimation_y':'$(arg decimation_y)'}&quot;"
        respawn="false">
  </node>



</launch>